[package]
name = "rust"
version = "0.1.0"
authors = ["Alex McDermott"]
edition = "2018"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2.78"

[dependencies.web-sys]
version = "0.3.55"
features = ["console"]
